.popup__error {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #ff0000;
  transition: 0.3s;
  visibility: hidden;
  position: absolute;
  top: 138px;
  left: 36px;
}

.popup__error:last-of-type {
  top: 198px;
}

@media screen and (max-width: 425px) {
  .popup__error {
    top: 150px;
    left: 22px;
  }

  .popup__error:last-of-type {
    top: 210px;
  }
}
