.element__button-like {
  width: 21px;
  height: 19px;
  background: url(../../../images/element/button-like.svg) #fff no-repeat center/contain;
  border: none;
  margin: 6px 18px 0 0;
  grid-column: 2;
  grid-row: 2;
}

.element__button-like:hover {
  opacity: .5;
}
